ErrorDocument 403 "By default, Mutillidae only allows access from localhost (127.*.*.*). Edit the .htaccess file to change this behavior (not recommended on a public network)."
Order Deny,Allow
Allow from all

## Supprimez ces lignes si vous souhaitez autoriser l'accès depuis toutes les adresses IP ##
# Allow from 127.
# Allow from localhost
# Allow from 192.168.0.0/16

## Autorisez spécifiquement l'accès depuis l'adresse IP 20.119.16.29 ##
Allow from 20.119.16.29

## Le reste de votre configuration ##
php_flag magic_quotes_gpc off
php_flag magic_quotes_sybase off
php_flag magic_quotes_runtime off
